*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
    min-height: 100vh;
    padding: 0 10px;
    background: #221f2f;
}

body::before{
    content: "";
    width: 120px;
    height: 120px;
    background-color: #ed2ff0;
    left: 15%;
    top: 20%;
    filter: blur(150px);
}

body::after{
    content: "";
    width: 120px;
    height: 120px;
    background-color: #22a8cd;
    left: 80%;
    top: 74%;
    filter: blur(150px);
}

.top-navbar {
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.nav-links{
    display: flex;
    justify-content: flex-end;
}

.nav-links a{
    font-size: larger;
    color: white;
    padding: 35px 20px 0 0;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    justify-content: flex-end;
}

.top-navbar a:hover {
    color: #f1c40f;
}

.logo{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.logo span{
    font-size: xx-large;
    padding: 0 0 0 30px;
}

.logo img{
    width: 70pt;
    padding: 0 0 0 5pt;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; /* Adjust based on the height of the navbar */
    padding: 20px;
}

.news-sidebar {
    width: 25rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 68vh; /* Full viewport height */
    overflow-y:auto /* Scrollable content */
}
.news-sidebar a{
    color: rgba(248, 236, 2, 0.723);
}

.page-footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videos iframe {
    width: 125px;
    height: 100px;
    color: #fff;
    background: rgba(0, 0, 0, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
    width: 25rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.container h2{
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.container form{
    margin: 30px 0 10px 0;
}

.container form p{
    font-size: 1rem;
    margin-bottom: 7px;
}

.container form input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0 15px;
    background: transparent;
    color: #fff;
    border: 1px solid #999;
    transition: all 0.3s ease;
}

.container form input:hover{
    border: 1px solid #675afe;
}

.container form input:focus{
    padding: 0 14px;
    border: 1px solid #675afe;
}

.container form .convert-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.container form .from, .container form .to{
    width: 100%;}

.container .convert-box .select-input{
    display: flex;
    width: 100%;
    border: 1px solid #999;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    padding: 0 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .convert-box .select-input:hover{
    border: 1px solid #675afe;
}

.container .convert-box .select-input img{
    max-width: 20px;
}

.container .convert-box .select-input select{
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    margin: 0 -5px 0 5px;
    color: #fff;
}

.container .convert-box .select-input select option{
    color: #000;
}

.container .convert-box .reverse{
    cursor: pointer;
    margin-top: 32px;
    font-size: 22px;
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.container .convert-box .reverse:hover{
    color: #675afe;
}

.container form .result{
    font-size: 1.1rem;
    margin: 20px 0 30px;
}

.container form button{
    width: 100%;
    height: 42px;
    color: #fff;
    background: #20232c;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.container form button:hover{
    background: #675afe;
}


.card{
    width: 26rem;
    height: 33rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.card h2{
    padding: 70px 0 25px;
    color: #f8f8f8;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.card p{
    color: #ccc;
    font-size: 12px;
    margin: 0 0 16px;
}

.card .pulse{
    position: absolute;
    background: #3498db;
    width: 14px;
    height: 14px;
    right: 31px;
    top: 35px;
    border-radius: 50%;
}

.card .pulse::after{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 0.1px solid #3498db;
    transform-origin: center;
    opacity: 0.8;
    scale: 0;
    animation: pulse 3s linear infinite;
}

.card .chart-area{
    position:relative;
}

.card .chart-area .grid{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(to right, transparent 0% 3%, #f9f9f9 3% 3.5%, transparent 3% 18.65%);
}

.card .chart-area .grid::after{
    content: "";
    position: inherit;
    z-index: 1;
    bottom: 0;
    width: inherit;
    height: 100%;
    background: linear-gradient(180deg, rgba(27, 27, 27, 1), rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 1));
}

body .apexcharts-tooltip.apexcharts-theme-light{
    color: #e2dede;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: none;
    padding: 4px 4px 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: 0;
}

.apexcharts-tooltip-title, .apexcharts-xaxistooltip-bottom.apexcharts-theme-light{
    display: none;
}